ETL project:

	Our project that we went with was looking at NBA players using the Kaggle data source.  Inside the Kaggle data source we found the information we were looking to research, but it was in 3 different excel files: Player, Player Data, and Season Stats.  The goal was to extract the 3 files by converting them into CSV files based on the information we wanted to be returned, write our query through Jupiter Notebook, and create a DF using SQL.
    
Getting started we: import pandas as pd, from sqlalchemy import create engine, import pymysql, pymysql. install_as_MySQLdb() to read in our CSV data and then push what we wanted returned to MySQL to a data frame.  There was a lot of columns in the information, so we picked out the once that we wanted in our database at the end (Player Name, id, Year, Team, Games Played, FG%, Free Throw %, Total Assist, and Total Points.)  Once we uploaded the Players and Season Stats CSV file, we ran into a few issues that needed to be CLEANED.
First issue we had was that some of the players played on multiple teams with in the same season so it caused an error because the player was the primary key.  What we did was make the “id” the primary key so that it could read through the data even with the duplicate names and the players who played with different teams their “id” number assigned stayed the same. 

Second issue we had was in the Players CSV file college was spelled collage. What we had to was transform and rename the columns according to what we wanted the data to look like.

In [7]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql 
pymysql.install_as_MySQLdb()

In [8]:
Players = "player_data.csv"
Players_df = pd.read_csv(Players)
Players_df ["id"]=Players_df.index
Players_df.head()

,name,year_start,year_end,position,height,weight,birth_date,college,id
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University,0
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,1
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles",2
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University,3
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University,4

In [9]:
Season_Stats = "Seasons_Stats.csv"
Season_Stats_df = pd.read_csv(Season_Stats)
Season_Stats_df.head()

,id,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.71,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.71,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.70,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.56,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.55,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [10]:
new_players_df= Players_df[['name', 'id','college']].copy()
new_players_df.head()

                  name  id                                college
0       Alaa Abdelnaby   0                        Duke University
1      Zaid Abdul-Aziz   1                  Iowa State University
2  Kareem Abdul-Jabbar   2  University of California, Los Angeles
3   Mahmoud Abdul-Rauf   3             Louisiana State University
4    Tariq Abdul-Wahad   4              San Jose State University

In [11]:
# Create a filtered dataframe from specific columns
new_players = ["name","id", "college"]
new_players_transformed= new_players_df[new_players].copy()

# Rename the column headers
new_players_transformed = new_players_transformed.rename(columns={"name": "Player_Name",
                                                                  "id": "id",
                                                                  "college": "college"})

# Clean the data by dropping duplicates and setting the index
new_players_transformed.drop_duplicates(inplace=True)
new_players_transformed.set_index('Player_Name', inplace=True)

new_players_transformed.head()

                     id                                college
Player_Name
Alaa Abdelnaby        0                        Duke University
Zaid Abdul-Aziz       1                  Iowa State University
Kareem Abdul-Jabbar   2  University of California, Los Angeles
Mahmoud Abdul-Rauf    3             Louisiana State University
Tariq Abdul-Wahad     4              San Jose State University

In [15]:
New_Season_Stats_df = Season_Stats_df[['Player','id','Year', 'Tm', 'G', 'FG%', 'FT%', 'AST', 'PTS']].copy()
New_Season_Stats_df.head()

            Player  id    Year   Tm     G   FG%   FT%    AST    PTS
0  Curly Armstrong   0  1950.0  FTW  63.0  0.28  0.71  176.0  458.0
1     Cliff Barker   1  1950.0  INO  49.0  0.37  0.71  109.0  279.0
2    Leo Barnhorst   2  1950.0  CHS  67.0  0.35  0.70  140.0  438.0
3       Ed Bartels   3  1950.0  TOT  15.0  0.26  0.56   20.0   63.0
4       Ed Bartels   4  1950.0  DNN  13.0  0.26  0.55   20.0   59.0

In [43]:
# Create a filtered dataframe from specific columns
New_Stats = ["Player","id", "G", "FG%", "FT%", "AST", "PTS"]
New_Stats_transformed= New_Season_Stats_df[New_Stats].copy()

# Rename the column headers
New_Stats_transformed = New_Stats_transformed.rename(columns={"Player": "Player_Name",
                                                              "id": "id",
                                                              "G": "Games_Played",
                                                              "FG%": "Field_Goal_Percentage",
                                                              "FT%": "Free_Throw_Percentage",
                                                              "AST": "Total_Assists",
                                                              "PTS": "Total_Points"})

# Clean the data by dropping duplicates and setting the index
New_Stats_transformed.drop_duplicates(inplace=True)
New_Stats_transformed.set_index('Player_Name', inplace=True)

#New_Stats_transformed.Field_Goal_Percentage = (New_Stats_transformed.Field_Goal_Percentage * 100).astype(str) + '%'

#New_Stats_transformed.round({'Field_Goal_Percent':2})


New_Stats_transformed.head()

,id,Games_Played,Field_Goal_Percentage,Free_Throw_Percentage,Total_Assists,Total_Points
Player_Name,,,,,,
Curly Armstrong,0,63.0,0.28,0.71,176.0,458.0
Cliff Barker,1,49.0,0.37,0.71,109.0,279.0
Leo Barnhorst,2,67.0,0.35,0.70,140.0,438.0
Ed Bartels,3,15.0,0.26,0.56,20.0,63.0
Ed Bartels,4,13.0,0.26,0.55,20.0,59.0

In [44]:
New_Stats_transformed.Field_Goal_Percentage = (New_Stats_transformed.Field_Goal_Percentage * 100).astype(str) + '%'
New_Stats_transformed.Free_Throw_Percentage = (New_Stats_transformed.Free_Throw_Percentage * 100).astype(str) + "%"
New_Stats_transformed.round({"Free_Throw_Percent": 2, "Field_Goal_Percent": 2})
New_Stats_transformed.head()

,id,Games_Played,Field_Goal_Percentage,Free_Throw_Percentage,Total_Assists,Total_Points
Player_Name,,,,,,
Curly Armstrong,0,63.0,28.000000000000004%,71.0%,176.0,458.0
Cliff Barker,1,49.0,37.0%,71.0%,109.0,279.0
Leo Barnhorst,2,67.0,35.0%,70.0%,140.0,438.0
Ed Bartels,3,15.0,26.0%,56.00000000000001%,20.0,63.0
Ed Bartels,4,13.0,26.0%,55.00000000000001%,20.0,59.0

In [36]:
New_Season_Stats_df = Season_Stats_df[['Player','id', 'G', 'FG%', 'FT%', 'AST', 'PTS']].copy()
#New_Season_Stats_df.Free_Throw_Percentage = (New_Season_Stats_df.FG% * 100).astype(str) + '%')
New_Season_Stats_df.round({"Free_Throw_Percent": 2, "Field_Goal_Percent": 2})
New_Season_Stats_df.head()

            Player  id     G   FG%   FT%    AST    PTS
0  Curly Armstrong   0  63.0  0.28  0.71  176.0  458.0
1     Cliff Barker   1  49.0  0.37  0.71  109.0  279.0
2    Leo Barnhorst   2  67.0  0.35  0.70  140.0  438.0
3       Ed Bartels   3  15.0  0.26  0.56   20.0   63.0
4       Ed Bartels   4  13.0  0.26  0.55   20.0   59.0

In [46]:
connection_string = ("root:Laquita#24@localhost:3306/nba_db")
engine = create_engine(f'mysql://{connection_string}')

In [47]:
# Confirm tables
engine.table_names()

['players', 'season_stats']

In [48]:
new_players_transformed.to_sql(name='Players', con=engine, if_exists='append', index=True)

InternalError: (pymysql.err.InternalError) (1366, "Incorrect integer value: 'Alaa Abdelnaby' for column 'Player_Name' at row 1") [SQL: 'INSERT INTO `Players` (`Player_Name`, id, college) VALUES (%(Player_Name)s, %(id)s, %(college)s)'] [parameters: ({'Player_Name': 'Alaa Abdelnaby', 'id': 0, 'college': 'Duke University'}, {'Player_Name': 'Zaid Abdul-Aziz', 'id': 1, 'college': 'Iowa State University'}, {'Player_Name': 'Kareem Abdul-Jabbar', 'id': 2, 'college': 'University of California, Los Angeles'}, {'Player_Name': 'Mahmoud Abdul-Rauf', 'id': 3, 'college': 'Louisiana State University'}, {'Player_Name': 'Tariq Abdul-Wahad', 'id': 4, 'college': 'San Jose State University'}, {'Player_Name': 'Shareef Abdur-Rahim', 'id': 5, 'college': 'University of California'}, {'Player_Name': 'Tom Abernethy', 'id': 6, 'college': 'Indiana University'}, {'Player_Name': 'Forest Able', 'id': 7, 'college': 'Western Kentucky University'}  ... displaying 10 of 4550 total bound parameter sets ...  {'Player_Name': 'Ivica Zubac', 'id': 4548, 'college': None}, {'Player_Name': 'Matt Zunic', 'id': 4549, 'college': 'George Washington University'})] (Background on this error at: http://sqlalche.me/e/2j85)

In [49]:
New_Stats_transformed.to_sql(name='Season_Stats', con=engine, if_exists='append', index=True)

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'Games_Played' in 'field list'") [SQL: 'INSERT INTO `Season_Stats` (`Player_Name`, id, `Games_Played`, `Field_Goal_Percentage`, `Free_Throw_Percentage`, `Total_Assists`, `Total_Points`) VALUES (%(Player_Name)s, %(id)s, %(Games_Played)s, %(Field_Goal_Percentage)s, %(Free_Throw_Percentage)s, %(Total_Assists)s, %(Total_Points)s)'] [parameters: ({'Player_Name': 'Curly Armstrong', 'id': 0, 'Games_Played': 63.0, 'Field_Goal_Percentage': 0.28, 'Free_Throw_Percentage': 0.71, 'Total_Assists': 176.0, 'Total_Points': 458.0}, {'Player_Name': 'Cliff Barker', 'id': 1, 'Games_Played': 49.0, 'Field_Goal_Percentage': 0.37, 'Free_Throw_Percentage': 0.71, 'Total_Assists': 109.0, 'Total_Points': 279.0}, {'Player_Name': 'Leo Barnhorst', 'id': 2, 'Games_Played': 67.0, 'Field_Goal_Percentage': 0.35, 'Free_Throw_Percentage': 0.7, 'Total_Assists': 140.0, 'Total_Points': 438.0}, {'Player_Name': 'Ed Bartels', 'id': 3, 'Games_Played': 15.0, 'Field_Goal_Percentage': 0.26, 'Free_Throw_Percentage': 0.56, 'Total_Assists': 20.0, 'Total_Points': 63.0}, {'Player_Name': 'Ed Bartels', 'id': 4, 'Games_Played': 13.0, 'Field_Goal_Percentage': 0.26, 'Free_Throw_Percentage': 0.55, 'Total_Assists': 20.0, 'Total_Points': 59.0}, {'Player_Name': 'Ed Bartels', 'id': 5, 'Games_Played': 2.0, 'Field_Goal_Percentage': 0.25, 'Free_Throw_Percentage': 0.67, 'Total_Assists': 0.0, 'Total_Points': 4.0}, {'Player_Name': 'Ralph Beard', 'id': 6, 'Games_Played': 60.0, 'Field_Goal_Percentage': 0.36, 'Free_Throw_Percentage': 0.76, 'Total_Assists': 233.0, 'Total_Points': 895.0}, {'Player_Name': 'Gene Berce', 'id': 7, 'Games_Played': 3.0, 'Field_Goal_Percentage': 0.31, 'Free_Throw_Percentage': 0.0, 'Total_Assists': 2.0, 'Total_Points': 10.0}  ... displaying 10 of 24691 total bound parameter sets ...  {'Player_Name': 'Paul Zipser', 'id': 24689, 'Games_Played': 44.0, 'Field_Goal_Percentage': 0.4, 'Free_Throw_Percentage': 0.78, 'Total_Assists': 36.0, 'Total_Points': 240.0}, {'Player_Name': 'Ivica Zubac', 'id': 24690, 'Games_Played': 38.0, 'Field_Goal_Percentage': 0.53, 'Free_Throw_Percentage': 0.65, 'Total_Assists': 30.0, 'Total_Points': 284.0})] (Background on this error at: http://sqlalche.me/e/2j85)